@media(min-width: 768px){
	.card card-body {
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert{
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
	}
	.has-error{
		color:red;
	}

}


.navbar-brand {
	padding-top: 8px;
}

}

.aw-link-card{
	float: right;
	padding: 0px;
}
.aw-titulo-card{
	float: left;
	padding-top: 2px;
	
}